/* header background color */
.honda-cbr-header-bg{
    background-color:  #264653;;
}

/* honda-cbr-btn */
.honda-cbr-btn{
    padding: 10px 46px;
    border: 0;
    border-radius: 5px;
    background-color: #E76F51;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/* span color */
.span-text-color{
    color: #E76F51;
}

/* feature-image-bike */
.fetures-image-bike{
    filter: grayscale(100%)
}
